body {
    background-color: #f0f4f7;
    padding: 20px;
    margin: 0;
    font-family: "calibri", sans-serif;
  }

  .container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  .profile-image {
    border-radius: 50%;
    border: 2px solid #3498db;
    padding: 5px;
  }

  h1,
  h3, .blue-text {
    color: #3498db;
  }

  ul {
    list-style: none;
  }	

  ul li:before {
    content: '✓';
    margin-left: -1.5rem;
    color: #27ae60;
  }

  a {
    color: #2980b9;
  }
  .centralize {
    text-align: center;
  }
  
  img {
    width: 20px;
    height: 20px;
  }


  @media print {
    ul li:before {
      content: '✓';
      margin-left: -1.5rem;
      color: #27ae60;
      -webkit-print-color-adjust: exact; /* Safari e WebKit */
      print-color-adjust: exact; /* Outros navegadores */
    }

    a {
      color: #2980b9;
      -webkit-print-color-adjust: exact; /* Safari e WebKit */
      print-color-adjust: exact; /* Outros navegadores */
    }
}